%div
  = f.text_field(:name, :class => 'textfield')
%div
  = f.text_area(:steps, :class => 'textarea')
%div
  %button.black_button{:type => "submit", :style=>'float:right'}
    = f.object.new_record? ? "Create" : "Update"
